Sample "{{sample_short_name}}"
==============================

General Information
-------------------
This sample has the code "{{sample_short_name}}" and is named "{{sample_long_name}}". It is part of the project code "{{project_short_name}}" ("{{project_long_name}}") along with {{project_other_samples}} other samples.

-------

Meta-data details
-----------------
The JSON file located online at:

> <{{json_url}}>

contains all the metadata associated with this sample. Here are the contents of this file:

    {{json_content}}

-------

Processing
----------
This report (and all the analysis) was generated using the ILLUMITAG project at:

> <http://github.com/limno/illumitag>

Version `{{illumitag_version}}` of the pipeline was used. The exact git hash of the latest commit was:

    {{git_hash}}

also refereed to by its tag `{{git_tag}}`. This document was generated at `{{now}}`.

A brief overview of what happens to the data can be viewed online here:

> <https://github.com/limno/illumitag/blob/master/documentation/pipeline_outline.pdf?raw=true>

The results and all the files generated for this sample can be found on UPPMAX at:

    {{results_directory}}

-------

Raw data
--------
* The forward read file weighed *{{fwd_size}}* and contained *{{fwd_count}}* reads with an average quality of *{{fwd_qual}}*
* The reverse read file weighed *{{rev_size}}* and contained *{{rev_count}}* reads with an average quality of *{{rev_qual}}*

More information about the raw output of the sequencer for this sample can be found in the HTML report generated by the Illumina software here:

    {{illumina_report}}

The average quality per base can be seen in figure \ref{per_base_qual} and the average quality per sequence in figure \ref{per_seq_qual}.

{{per_base_qual}}

{{per_seq_qual}}

-------

Joining
--------
The first step in processing is joining the forward and reverse reads together. This is done with a program called "PandaSeq". The results are the following:

-------

Filtering
---------
Next, we filter the sequences based on several criteria. These many sequences are lost: